@{
    ViewData["Title"] = "Тест Bootstrap";
}

<h1 class="text-danger">Красный заголовок</h1>
<button class="btn btn-primary">Bootstrap кнопка</button>
<div class="alert alert-success">Alert Bootstrap</div>